.status {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    width: 12px;
  }
}
