.userInfoPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  margin-bottom: 32px;

  .contactInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
  }

  .tabPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-size: 12px;
      text-decoration: none;
      color: #5d8edd;
    }
  }

  .workExperience {
    display: flex;
    flex-direction: column;
    gap: 16px;

    h2 {
      margin: 0;
      text-align: start;
    }
  }

  .orgStruct {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: start;

    h2 {
      margin: 0;
    }
  }

  .collegues {
    display: flex;
    flex-direction: column;

    h2 {
      margin: 0;
      text-align: start;
    }
  }

  .userPersonalInfo {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h2 {
      margin: 0;
      text-align: start;
    }
  }
}
